<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 对象类型声明 -->
    <typeAliases>
    	<typeAlias alias="user" type="yineng.datacenter.manager.entity.User"/>
    	<typeAlias alias="userModel" type="yineng.datacenter.manager.model.UserModel"/>
    	<typeAlias alias="artCountModel" type="yineng.datacenter.manager.model.ArtCountModel"/>
	</typeAliases>

	<!-- 拦截器 -->
	<plugins>
		<plugin interceptor="yineng.datacenter.manager.mybatis.interceptor.PaginationInterceptor">
			<property name="dialectClass" value="yineng.datacenter.manager.mybatis.db.impl.MysqlDialect" />
		</plugin>
		<plugin interceptor="yineng.datacenter.manager.mybatis.interceptor.SQLInterceptor" />
	</plugins>		
    
    <!-- sql文件配置 -->
    <mappers>
    	<mapper resource="/mapper/UserMapper.xml"/>
    	<mapper resource="/mapper/ArtCountMapper.xml"/>
    </mappers>

</configuration>